.containerInicio {
  color: #fff;
  display: flex;
  flex-direction: Column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  /* border: 1px solid red; */
 
}

.containerInicioHeader {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 5px solid yellow; */

}

.containerInicioFooter {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding-bottom: 2.5rem; */
}

.containerTituloBar {
  /* border: 3px solid blue; */
  visibility: hidden;

}

.myBox {
  text-align: center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255, 249, 34), rgba(255, 0, 128), rgba(56, 2, 155, 0));
  border-image-slice: 1;
  width: 100%;
}