.liqui {
  letter-spacing: 0.2vmin;
}

.liqui h1 {
  font-family: Edu VIC WA NT Beginner, cursive;
  font-size: 18vmin;
  position: absolute;
  top: 1rem;
  left: 45vw;
}

.uno {
  font-size: 17.9vmin !important;
}

.wave {
  color: #ff3d00;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {

  0%,
  100% {
    clip-path: polygon(0% 47%,
        10% 48%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}


@media (max-width:768px) {

  .liqui h1 {
    font-size: 22vmin;
    top: 1rem;
    left: 36vw;
  }

  .uno {
    font-size: 21.9vmin !important;
  }

}