* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(29, 38, 48);
  display: flex;
  align-items: center;
  justify-content: center;
}
